{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block seo %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block body_id 'login' %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto">
                <form method="post" class="login-form">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {# {% if app.user %} #}
                    {# <div class="mb-3"> #}
                    {# You are logged in as {{ app.user.firstname }}, <a href="{{ path('app_logout') }}">Se deconnectr</a> #}
                    {# </div> #}
                    {# {% endif %} #}

                    <h1 class="h3 mb-3 font-weight-normal text-center">Connexion</h1>
                    <label for="inputEmail"></label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                           autocomplete="email" placeholder="email" required autofocus>
                    <label for="inputPassword"></label>
                    <input type="password" name="password" id="inputPassword" class="form-control"
                           autocomplete="current-password" placeholder="password" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality. #}
                    {# See https://symfony.com/doc/current/security/remember_me.html #}

                    <div class="checkbox mt-3 mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Se souvenir de moi
                        </label>
                    </div>

                    <button class="btn btn-lg btn-primary mb-3" type="submit">
                        Se connecter
                    </button>

                    <div class="mediatheque-form-footer">
                        <p>Pas encore membre? <a href="{{ path('app_register') }}">Créez votre compte</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
