<header class="mb-3 border-bottom">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mediatheque-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_home') }}"><img src="{{ asset('build/images/logo.jpg') }}"
                                                                       alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                {% if app.user %}
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item home-item">
                            <a class="nav-link" href="{{ path('app_catalog') }}">Accueil</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item book-add-item">
                                <a class="nav-link" href="{{ path('app_book_new') }}">Ajouter un livre</a>
                            </li>
                            {# <li class="nav-item admin-link-item"> #}
                            {# <a class="nav-link" href="{{ path('app_admin') }}">Backoffice</a> #}
                            {# </li> #}
                        {% endif %}
                        <li class="nav-item user-borrows-item">
                            <a class="nav-link" href="{{ path('app_user_borrows') }}">Voir mes emprunts</a>
                        </li>
                    </ul>
                {% endif %}
                <div class="navbar-text logout-item">
                    {% if app.user %}
                        <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                    {% else %}
                        <a class="btn btn-primary text-white nav-login-btn mediatheque-btn"
                           href="{{ path('app_login') }}">Se
                            connecter</a>
                        <a class="btn btn-primary text-white nav-register-btn" href="{{ path('app_register') }}">S'inscrire</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>