{% extends 'base.html.twig' %}

{% block title %}Borrow index{% endblock %}

{% block body %}
    <h1>Borrow index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IsBorrowed</th>
                <th>IsBorrowedAt</th>
                <th>IsReturnedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for borrow in borrows %}
            <tr>
                <td>{{ borrow.id }}</td>
                <td>{{ borrow.isBorrowed ? 'Yes' : 'No' }}</td>
                <td>{{ borrow.isBorrowedAt ? borrow.isBorrowedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ borrow.isReturnedAt ? borrow.isReturnedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('borrow_show', {'id': borrow.id}) }}">show</a>
                    <a href="{{ path('borrow_edit', {'id': borrow.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('borrow_new') }}">Create new</a>
{% endblock %}
