{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body_id 'catalog' %}

{% block main %}
    <div class="container mediatheque-catalog-container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for book in books %}
                <div class="col-md-4">
                    <div class="card shadow">
                        <img class="card-img-top catalog-img"
                             src="{% if book.coverFile %} {{ asset(book.coverFile) }} {% endif %}"
                             alt="Image du livre {{ book.title }}">

                        <div class="card-body">
                            <p class="card-text">{{ book.description }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{{ path('app_book_show', {'slug': book.slug}) }}"
                                       class="catalog-see-btn btn btn-sm btn-secondary">
                                        Voir le livre
                                    </a>

                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('app_book_edit', {'slug': book.slug}) }}"
                                           class="catalog-edit-btn btn btn-sm btn-secondary">
                                            Modifier le livre
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
