{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block body_id 'book_show' %}

{% block main %}

    <div class="container book-show-container">
        <div class="row">
            <div class="col-md-4">
                <img src="{% if book.coverFile %}{{ asset(book.coverFile) }}{% endif %}"
                     alt="Image du livre {{ book.title }}" class="book-show-img" width="350">
            </div>

            <div class="col-md-8">
                <h3 class="mb-3">{{ book.title | capitalize }}</h3>

                <p>{{ book.description }}</p>

                <p>{{ book.author }}</p>

                <div class="mediatheque-borrow-btn">
                    <a class="btn btn-primary" href="">Réserver</a>
                </div>
            </div>

            <div class="container">
                <div class="row mediatheque-book-action-links">
                    <a href="{{ path('app_catalog') }}">Retour à la médiatheque</a>

                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_book_edit', {'slug': book.slug}) }}">Modifier</a>

                        {{ include('book/_delete_form.html.twig') }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
