<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <title>Inscription d'un habitant</title>
    </head>
    <body>
        <p>
            Bonjour {{ employee.firstname }}<br>

            Un resident du nom de {{ resident.firstname }} {{ resident.lastname }} vient de s'inscrire sur la
            mediatheque,<br>
            Connectes toi et rends toi sur cette URL pour activer son compte. <br>

            <a href="{{ absolute_url(path('app_activation', {'activationToken': resident.activationToken})) }}">
                Activer son compte
            </a>
            <br>
            Ou copie colle l'URL ci-dessous directement dans le navigateur, (toujours en etant connécté) <br>

            {{ absolute_url(path('app_activation', {'activationToken': resident.activationToken})) }}
        </p>
    </body>
</html>