<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        {% block seo %}{% endblock %}

        <title>Médiatheque - {% block title %}{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body id="{% block body_id %}{% endblock %}">

        {% include 'partials/_header.html.twig' %}

        {% for label, messages in app.flashes %}
            <div class="container" style="margin-top: 80px">
                <div class="alert alert-{{ label }}">
                    {% for message in messages %}
                        <p>{{ message | raw }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        <main>
            {% block main %}{% endblock %}
        </main>

        {% include'partials/_footer.html.twig' %}

    </body>
</html>
