{% extends 'base.html.twig' %}

{% block title %} - admin - {{ book.title }}{% endblock %}

{% block seo %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block body_id 'book_show' %}


{% block main %}

    <div class="container book-show-container">
        <div class="row">
            <div class="col-md-4">
                <img src="{% if book.coverFile %} {{ asset(book.coverFile) }}{% else %} https://picsum.photos/640/360{% endif %}"
                     alt="Image du livre {{ book.title }}" class="book-show-img" width="350">
                {% if book.isReserved == true %}
                    <span class="mediatheque-book-not-available">Indisponible</span>
                {% endif %}
            </div>

            <div class="col-md-8">
                <h3 class="mb-3">{{ book.title | capitalize }}</h3>

                <p>{{ book.description }}</p>
                {% for genre in book.genre %}
                    <p><strong>Genre</strong> : {{ genre.name }}</p>
                {% endfor %}
                <p><strong>Autheur</strong> : {{ book.author }}</p>
                <p><strong>Date de publication </strong>: {{ book.isReleasedAt | date('d-m-Y') }}</p>
            </div>

            <div class="container">
                <div class="row mediatheque-book-action-links">
                    <a href="{{ path('app_book_edit_admin', {'slug': book.slug}) }}">Modifier</a>

                    {{ include('admin/book/_delete_form.html.twig') }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
